<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.official.android.androidofficialguidedemo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainCatalogueActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailCatalogueActivity"
            android:label="@string/title_activity_detail_catalogue"
            android:parentActivityName=".MainCatalogueActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.official.android.androidofficialguidedemo.MainCatalogueActivity" />
        </activity>

        <!-- <activity android:name=".AnotherActivity" android:label="another"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.EDIT" /> -->
        <!-- &lt;!&ndash; category一定要配置，否则报错：找不到Activity &ndash;&gt; -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".savingdata.SavingPreferenceActivity"
            android:label="@string/title_activity_saving_preference" >
        </activity>
        <activity
            android:name=".savingdata.SavingFileActivity"
            android:label="@string/title_activity_saving_file" >
        </activity>
        <activity
            android:name=".savingdata.SavingDatabaseActivity"
            android:label="@string/title_activity_saving_database" >
        </activity>
        <activity
            android:name=".SavingDataActivity"
            android:label="SavingDataActivity" >
        </activity>
    </application>

</manifest>
