<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.official.android.androidofficialguidedemo" >

    <!-- SD卡文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- MEDIA:播放音乐权限 -->
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainCatalogueActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailCatalogueActivity"
            android:label="@string/title_activity_detail_catalogue"
            android:parentActivityName=".MainCatalogueActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.official.android.androidofficialguidedemo.MainCatalogueActivity" />
        </activity>

        <!-- <activity android:name=".AnotherActivity" android:label="another"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.EDIT" /> -->
        <!-- &lt;!&ndash; category一定要配置，否则报错：找不到Activity &ndash;&gt; -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- SavingDataActivity -->
        <activity
            android:name=".gettingstarted.savingdata.SavingDataActivity"
            android:label="SavingDataActivity" >
            <intent-filter>
                <action android:name="official.guide.savingdata" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gettingstarted.savingdata.detail.SavingPreferenceActivity"
            android:label="@string/title_activity_saving_preference" >
        </activity>
        <activity
            android:name=".gettingstarted.savingdata.detail.SavingFileActivity"
            android:label="@string/title_activity_saving_file" >
        </activity>
        <activity
            android:name=".gettingstarted.savingdata.detail.SavingDatabaseActivity"
            android:label="@string/title_activity_saving_database" >
        </activity>
        <!-- InteractingOtherAppsActivity -->
        <activity
            android:name=".gettingstarted.interactingotherapps.InteractingOtherAppsActivity"
            android:label="@string/title_activity_interacting_other_apps" >
            <intent-filter>
                <action android:name="official.guide.interactingotherapps" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gettingstarted.interactingotherapps.detail.SendingUserAnotherAppActivity"
            android:label="@string/title_activity_sending_user_another_app" >
        </activity>
        <activity
            android:name=".gettingstarted.interactingotherapps.detail.IntentResultActivity"
            android:label="@string/title_activity_intent_result" >
        </activity>
        <activity
            android:name=".gettingstarted.interactingotherapps.detail.IntentFilterActivity"
            android:label="@string/title_activity_intent_filter" >
        </activity>
        <!-- SharingSimpleDataActivity -->
        <activity
            android:name=".contentsharing.SharingSimpleDataActivity"
            android:label="@string/title_activity_sharing_simple_data" >
            <intent-filter>
                <action android:name="official.guide.sharingsimpledata" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contentsharing.appcontentsharing.SharingSimpleDataToAppActivity"
            android:label="@string/title_activity_sharing_simple_data" >
        </activity>
        <activity
            android:name=".contentsharing.appcontentsharing.ReceivingSimpleDataActivity"
            android:label="@string/title_activity_receiving_simple_data" >
        </activity>
        <activity
            android:name=".contentsharing.appcontentsharing.AddingEasyShareActionActivity"
            android:label="@string/title_activity_adding_easy_share_action" >
        </activity>
        <!-- OtherListActivity -->
        <activity android:name=".OtherListActivity" />
        <activity
            android:name=".otherlist.DocumentTranslationActivity"
            android:label="@string/title_activity_document_translation" >
            <intent-filter>
                <action android:name="com.my.documenttranslation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherlist.GetPictureFilePathActivity"
            android:label="@string/title_activity_get_picture_file_path" >
            <intent-filter>
                <action android:name="com.my.imageuri" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- NFCSharingFilesActivity -->
        <activity
            android:name=".NFCActivity"
            android:label="@string/title_activity_nfcsharing_files" >
            <intent-filter>
                <action android:name="official.guide.sharingfilesnfc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServerClientDemoName.ServerClientDemoNameActivity"
            android:label="@string/title_activity_server_client_demo_name" >
        </activity>
        <activity
            android:name=".multimedia.manageaudioplayback.ManageAudioActivity"
            android:label="@string/title_activity_manage_audio" >
        </activity>

        <receiver android:name=".multimedia.manageaudioplayback.RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".multimedia.manageaudioplayback.NoisyAudioStreamReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".multimedia.thethirddemo.MediaPlayerAfterLollipopActivity"
            android:label="@string/title_activity_media_player_after_lollipop" >
        </activity>
        <activity
            android:name=".gettingstarted.savingdata.FileManagerActivity"
            android:label="@string/title_activity_file_manager" >
        </activity>
    </application>

</manifest>
